<div>
  <app-header>
    <md-toolbar v-if="!isDashboard && !isStartingStatus && !isDifficultyStatus"
                class="md-primary">
      <md-button
          class="md-icon-button"
          @click="onClickMenu()">
        <md-icon>menu</md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 v-if="!isPlayingStatus && !isResumedStatus"
                 @click="onClickResume()">
        <md-icon>play_arrow</md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 v-if="isPlayingStatus || isResumedStatus"
                 @click="onClickPause()">
        <md-icon>pause</md-icon>
      </md-button>

      <md-button
          class="md-icon-button"
          @click="onClickHelp()">
        <md-icon>help_outline</md-icon>
      </md-button>

      <div class="md-toolbar-section-end">
        <md-button disabled style="min-width: 0; color: white;">
          <span>{{ `${getTime} |` }}</span>
          <md-icon>timer</md-icon>
        </md-button>

        <md-button disabled style="min-width: 0; color: white;">
          <span>{{ `${getScore} |` }}</span>
          <md-icon>attach_money</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar v-if="isDashboard"
                class="md-primary">
      <md-button class="md-icon-button"
                 @click="onClickMenu()">
        <md-icon>menu</md-icon>
      </md-button>

      <span class="md-title">{{ $route.name }}</span>
    </md-toolbar>

    <app-navigation v-model="showNavigation"
                    :title="$route.name">
    </app-navigation>
  </app-header>

  <app-body>
    <router-view></router-view>
  </app-body>

  <md-progress-bar style="position: absolute;
                                top:0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;"
                   md-mode="indeterminate"
                   v-show="showLoader">
  </md-progress-bar>

  <md-progress-bar style="position: absolute;
                                top: 40px;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;"
                   md-mode="indeterminate"
                   v-show="showLoader">
  </md-progress-bar>

  <md-dialog :md-active.sync="showPauseDialog"
             :md-click-outside-to-close="false"
             :md-close-on-esc="false"
             :md-fullscreen="false">
    <md-dialog-title>Game is paused</md-dialog-title>

    <md-dialog-actions>
      <md-button class="md-primary" @click="onClickResume(); showPauseDialog=false">Keep going
      </md-button>
      <md-button class="md-primary" @click="onClickDifficulty(); showPauseDialog=false">Try again
      </md-button>
    </md-dialog-actions>
  </md-dialog>

  <md-dialog :md-active.sync="showEndDialog"
             :md-click-outside-to-close="false"
             :md-close-on-esc="false"
             :md-fullscreen="false">
    <md-empty-state
        class="md-primary"
        md-icon="done"
        :md-label="`You scored ${this.getScore} scores!`"
        md-description="We hope you enjoyed playing.">
    </md-empty-state>

    <md-dialog-actions>
      <md-button class="md-primary" @click="onClickDashboard(); showEndDialog=false">Dashboard
      </md-button>
      <md-button class="md-primary" @click="onClickDifficulty(); showEndDialog=false">Try again
      </md-button>
    </md-dialog-actions>
  </md-dialog>

  <md-dialog :md-active.sync="showHelpDialog"
             :md-click-outside-to-close="false"
             :md-close-on-esc="false"
             :md-fullscreen="false">

    <md-tabs md-dynamic-height class="md-primary" md-alignment="left">

      <md-tab md-icon="description">
        <md-card md-with-hover style="box-shadow: none">
          <md-card-header>
            <md-card-header-text>
              <div class="md-title">Description</div>
            </md-card-header-text>

            <md-card-media>
              <img :src="require(`../../assets${$route.path}.jpg`)" alt="Avatar">
            </md-card-media>
          </md-card-header>

          <md-card-content v-html="$route.meta.description"></md-card-content>
        </md-card>
      </md-tab>

      <md-tab md-icon="rule">
        <md-card md-with-hover style="box-shadow: none">
          <md-card-header>
            <md-card-header-text>
              <div class="md-title">Rules</div>
            </md-card-header-text>

            <md-card-media>
              <img :src="require(`../../assets${$route.path}.jpg`)" alt="Avatar">
            </md-card-media>
          </md-card-header>

          <md-card-content v-html="$route.meta.help"></md-card-content>
        </md-card>
      </md-tab>
    </md-tabs>

    <md-dialog-actions>
      <md-button class="md-primary" @click="onClickResume(); showHelpDialog=false">Ok
      </md-button>
    </md-dialog-actions>
  </md-dialog>

  <md-dialog :md-active.sync="showDifficultyDialog"
             :md-click-outside-to-close="false"
             :md-close-on-esc="false"
             :md-fullscreen="false"
             v-if="$route.name!=='Dashboard'"
  >

       <md-tabs md-dynamic-height class="md-primary" md-alignment="left"
    @md-changed="setDifficulty">
         <md-tab md-label="Easy" id="Easy">
           <md-card md-with-hover style="box-shadow: none">
             <md-card-header>
               <md-card-header-text>
                 <div class="md-title">Easy Level</div>
                 <div class="md-subhead">{{ $route.meta.difficulty.easy }}</div>
               </md-card-header-text>
               <md-card-media md-medium>
                 <img :src="require(`../../assets/easy.png`)"
                      alt="Avatar">
               </md-card-media>
              </md-card-header>
            </md-card>
          </md-tab>

          <md-tab md-label="Medium" id="Medium">
            <md-card md-with-hover style="box-shadow: none">
              <md-card-header>
                <md-card-header-text>
                  <div class="md-title">Medium Level</div>
                  <div class="md-subhead">{{ $route.meta.difficulty.medium }}</div>
                </md-card-header-text>

                <md-card-media md-medium>
                  <img :src="require(`../../assets/medium.png`)"
                       alt="Avatar">
                </md-card-media>
              </md-card-header>
            </md-card>
          </md-tab>

          <md-tab md-label="Hard" id="Hard">
            <md-card md-with-hover style="box-shadow: none">
              <md-card-header>
                <md-card-header-text>
                  <div class="md-title">Hard Level</div>
                  <div class="md-subhead">{{ $route.meta.difficulty.hard }}</div>
                </md-card-header-text>

                <md-card-media md-medium>
                  <img :src="require(`../../assets/hard.png`)"
                       alt="Avatar">
                </md-card-media>
              </md-card-header>
            </md-card>
          </md-tab>
        </md-tabs>

<!--    <md-dialog-content class="md-layout md-alignment-center-center">-->
<!--      <md-button-->
<!--          class="md-raised md-layout-item"-->
<!--          @click="setDifficulty('Easy')"-->
<!--          style="min-width: 65px; background-color: #66BB6A; color: white">-->
<!--        Easy-->
<!--      </md-button>-->
<!--      <md-button-->
<!--          class="md-raised md-layout-item"-->
<!--          @click="setDifficulty('Medium')"-->
<!--          style="min-width: 65px; background-color: #D4E157; color: white">-->
<!--        Medium-->
<!--      </md-button>-->
<!--      <md-button-->
<!--          class="md-raised md-layout-item"-->
<!--          @click="setDifficulty('Hard')"-->
<!--          style="min-width: 65px; background-color: #EF5350; color: white">-->
<!--        Hard-->
<!--      </md-button>-->
<!--    </md-dialog-content>-->

    <md-dialog-actions>
      <md-button class="md-primary" @click="onClickDashboard(); showDifficultyDialog=false">
        Dashboard
      </md-button>
      <md-button class="md-primary"
                 @click="onClickStart(); showDifficultyDialog=false;
                 updateAppDifficulty(difficulty)">
        Ok
      </md-button>
    </md-dialog-actions>
  </md-dialog>
</div>
