<md-drawer :md-active.sync="showNavigation"
           md-swipeable>
  <md-list v-for="route in routes" :key="route.id">
      <md-card class="md-primary">
        <md-card-header>
          <md-card-header-text>
            <div class="md-title">
              <md-button :to="route.path">
                {{ route.name }}
              </md-button>
            </div>
            <div class="md-subhead">
              <span>{{ route.description }}</span>
            </div>
          </md-card-header-text>
        </md-card-header>
      </md-card>
  </md-list>
</md-drawer>
