<md-app>
    <md-app-content>

        <md-card class="md-primary" md-theme="black-card">
            <md-card-header>
                <md-card-media>
                    <img src="../../assets/puzzle.png" alt="Avatar">
                </md-card-media>

                <md-card-header-text class="md-layout md-alignment-center-center">
                    <div class="md-title md-layout-item">4 BRAIN EXERCISES</div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-subhead">
                    <p class="p-purple">
                        Memory games, attention, focusing, analytical thinking,
                        visual intelligence and a lot more.
                    </p>
                </div>
            </md-card-content>
        </md-card>

        <md-card class="md-primary" md-theme="black-card">
            <md-card-header>
                <md-card-media>
                    <img src="../../assets/boy.png" alt="Avatar">
                </md-card-media>

                <md-card-header-text class="md-layout md-alignment-center-center">
                    <div class="md-title md-layout-item">FOR ALL CHILDREN</div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-subhead">
                    <p class="p-orange">
                        Our game is suitable for all children regardless of age.
                    </p>
                </div>
            </md-card-content>
        </md-card>

        <md-card class="md-primary" md-theme="black-card">
            <md-card-header>
                <md-card-media>
                    <img src="../../assets/calender.png" alt="Avatar">
                </md-card-media>

                <md-card-header-text class="md-layout md-alignment-center-center">
                    <div class="md-title md-layout-item">BRAIN BOOSTER</div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-subhead">
                    <p class="p-orange">
                        Time is valuable. 20 minutes daily brain training!
                    </p>
                </div>
            </md-card-content>
        </md-card>

        <md-card class="md-primary" md-theme="black-card">
            <md-card-header>
                <md-card-media>
                    <img src="../../assets/card.png" alt="Avatar">
                </md-card-media>

                <md-card-header-text class="md-layout md-alignment-center-center">
                    <div class="md-title md-layout-item">YOUR TRAINING</div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-subhead">
                    <p class="p-purple">
                        Our game is unique for your child.
                        Brain exercises and mind games are created according
                        to your child's age and performance!
                    </p>
                </div>
            </md-card-content>
        </md-card>

        <md-card class="md-primary" md-theme="black-card">
            <md-card-header>
                <md-card-media>
                    <img src="../../assets/devices.png" alt="Avatar">
                </md-card-media>

                <md-card-header-text class="md-layout md-alignment-center-center">
                    <div class="md-title md-layout-item">ALWAYS WITH YOU</div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-subhead">
                    <p class="p-orange">
                        Our app is on your smartphone, tablet and PC.
                    </p>
                </div>
            </md-card-content>
        </md-card>

    </md-app-content>
</md-app>
