.md-app-content {
  border: 0;
  padding: 5px;
}

.greenButton {
  background-color: #66BB6A;
  margin: 0 25% 0 25%;
  width: 50%;
}

.redButton {
  background-color: #EF5350;
  margin: 0 25% 0 25%;
  width: 50%;
}

.text {
  font-size: 17px;
  text-align: center;
}

.div {
  margin: 25% 0 25% 0;
}
